@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$primario;
    padding-top: 5rem;
    &__grid{
        padding: 2rem;
        @include m.tablet{
            @include m.grid(3,4rem);
        }
    }
    &__box{
        padding: 1.5rem;
        @include m.tablet{
            padding: 0;
        }
    }
    &__imagen{
        width: 90%;
        margin: 0 auto;
    }
    &__heading{
        margin: 0;
        color: v.$blanco;
        text-align: center;
        @include m.tablet{
            text-align: left;
        }
    }
    &__texto,
    &__link{
        color: v.$blanco;
        text-align: center;
        @include m.tablet{
            text-align: left;
        }
    }
    &__navegacion{
        display: flex;
        flex-direction: column;
        padding: 1.6rem 0;
        gap: 2rem;
    }
}
.copyright{
    text-align: center;
    color: v.$blanco;
    font-size: 2rem;
    border-top: .2rem solid v.$blanco;
    padding: 1rem;
}